nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  background: seashell;
  font-weight: 600;
}

.nav__projectName {
  color: rgb(172, 114, 172);
  text-decoration: none;
}

.authLink {
  color: purple;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  color: purple;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  padding: 1em;
  background-color: seashell;
  border: none;
}

.nav-logoutbtn:hover {
  color: #ffffff;
}
Navbar{
  background-color: lavender;
}
